/* Animations - Devon Knight */
/* Animation Slide from Right start hidden- Devon Knight */
.from-right{
  opacity: 0;
  filter: blur(5px);
  transform: translate(100%);
  transition: all 1.5s;
}
/* Animation Slide from Right end by showing content - Devon Knight */
.from-right-show{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}
/* Animation Slide from Left start hidden - Devon Knight */
.from-left{
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: all 1.5s;
}
/* Animation Slide from Left end by showing content - Devon Knight */
.from-left-show{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}
/* if user's preferences are set to reduced motion - Devon Knight*/
@media (prefers-reduced-motion){
  .from-right{
    transition: none;
  }
  .from-left{
    transition: none;
  }
}
/* for partner logos to animate in - Devon Knight*/
.partners{
  display: flex;
  margin: 0 0.5rem;
  justify-content: center;
}
.partners img{
  height: 15vw;
  padding-left: 10px;
  padding-right: 10px;
}
.partner:nth-child(2){
  transition-delay: 100ms;
}
.partner:nth-child(3){
  transition-delay: 200ms;
}
.partner:nth-child(4){
  transition-delay: 300ms;
}
/* Partner logos adaptive to display size - Devon Knight*/
@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  .partners img{
    height: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}