/* CSS for idnex Devon Knight*/
.main-content{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: dimgrey;
  overflow: hidden;
}
.grey{
  background: darkgray;
}
.off_white{
  background: whitesmoke;
}

.custom-shape-divider-top-1667151416 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: black;
}
.custom-shape-divider-top-1667151416 svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 85px;
}
.custom-shape-divider-top-1667151416 .shape-fill {
  fill: #18406E;
}

/* text style- Devon Knight */
.text{
  background-color: lightgray;
  color: black;
}

/* all main homepage content formats in sections - Devon Knight */
.main-content section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* CSS animations for content - Devon Knight */
/* left-side image + right-side text - Devon Knight */
.L-text-R-img{
  display: flex;
  padding-left: 5px;
}
.L-text-R-img p{
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L-text-R-img img{
  display: block;
  align-items: right;
  min-width: 20%;
  max-width: 100%;
  height: auto;
}
/* left-side text + right-side image - Devon Knight */
.R-text-L-img{
  display: flex;
  padding-right: 5px;
}
.R-text-L-img p{
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.R-text-L-img img{
  display: block;
  align-items: left;
  min-width: 20%;
  max-width: 100%;
  height: auto;
}

