/* CSS for index - Devon Knight */
/* remove all horizontal overflow - Devon Knight */
body{
  overflow-x: hidden;
}
/* main content below hero - Devon Knight */
.main-content{
  color: white;
  background-color: dimgrey; /* Not needed, but if Bootstrap were to fail, it allows text to be seen - Devon Knight */
  overflow: hidden;
}
/* Background classes - Devon Knight*/
.grey{
  background: darkgray;
}
/* Background classes - Devon Knight*/
.off_white{
  background: whitesmoke;
}
/* Divider under Hero - Devon Knight */
.custom-shape-divider-top-1667151416 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: black;
}
/* Divider under Hero - Devon Knight */
.custom-shape-divider-top-1667151416 svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 85px;
}
/* Divider under Hero - Devon Knight */
.custom-shape-divider-top-1667151416 .shape-fill {
  fill: #18406E;
}
/* text style- Devon Knight */
.text{
  background-color: lightgray;
  color: black;
}
/* all main homepage content formats in sections - Devon Knight */
.main-content section{
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
/* CSS animations for content - Devon Knight */
/* left-side image + right-side text - Devon Knight */
.L-text-R-img{
  display: flex;
  padding-left: 5px;
}
.L-text-R-img p{
  font-size: large;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.L-text-R-img img{
  display: block;
  align-items: right;
  min-width: 30vh;
  max-width: 40vw;
  max-height: 25rem;
}
/* Mobile adaptive breakpoint for left-side image + right-side text*/
@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  .L-text-R-img{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
  }
  .L-text-R-img p{
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .L-text-R-img img{
    margin-left: 20vw;
    align-items: right;
    min-width: 50vw;
    max-width: 25vw;
    min-height: 50vw;
    max-height: 50vw;
  }
}
/* left-side text + right-side image - Devon Knight */
.from-left h1{
  text-align:right; 
  padding-right: 3px;
}
.R-text-L-img{
  display: flex;
  padding-right: 5px;
}
.R-text-L-img p{
  font-size: large;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.R-text-L-img img{
  display: block;
  align-items: left;
  min-width: 220px;
  min-height: 200px;
}
/* Mobile adaptive breakpoint for left-side text + right-side image*/
@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  .from-left h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
  }
  .R-text-L-img{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
  }
  .R-text-L-img p{
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .R-text-L-img img{
    margin-left: 30vw;
    align-items: center;
    min-width: 25vw;
    max-width: 25vw;
    min-height: 25vw;
    max-height: 25vw;
  }
}