@font-face {
    font-family: "Futura";
    src: local("Font/futur.ttf");
}
@font-face {
    font-family: "Futura Lt BT";
    src: local("Font/futura light bt.ttf");
}
.navbar{
    height:80px;
    display: flex;
    font-size: 1.5rem;
    font-family: "Futura Lt BT";
    background-color:#000000;
    text-decoration: none;
}
.navbar-container{
    height: 80px;
    width: 100%;
    padding: 0 30px;
    color: #ffffff;
}
.navbar-container #company-logo {
    position: absolute;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    width: auto;
    fill: #00CCFF;
}
.navbar-container .navbar-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navbar-container .navbar-item {
    height: 80px;
    padding: 0 2em;
}
.navbar-menu .navbar-links {
    display: flex;
}